# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
packages/

# Entity Framework
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp

.dotnet-home/
src/publish/